<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Eat Da Burger!</title>
</head>

<body>

  <img src="https://previews.123rf.com/images/hatza/hatza1205/hatza120500014/13764469-burger-in-doodle-style-Stock-Vector-burger-cartoon-hamburger.jpg" width="200px" alt="burger">

  {{{body}}}

  <style type="text/css">
  
    img {
      display: flex;
      margin: auto;
      background-color: #ffd54f;
    }

    body {
      background-color: #ffd54f;
    }

    h1 {
      text-align: center;
    }

    #submit, #form, h4 {
      margin-top: 20px;
    }

    li {
      list-style-position: inside;
    }

  </style>
</body>

</html>
